*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/emojicon/build
.idea/caches/
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/jarRepositories.xml
.idea/vcs.xml
.idea/qaplug_profiles.xml
/tmpmob
/svgalibrary/build
/app/release
/app/debug
/app/predebug
/app/mapping.txt
/bugly/
app/bugly/BuglySymtabLog.txt
app/bugly/BuglyUploadLog.txt
/.idea/
/jzvideolibrary/build
.idea/compiler.xml
.idea/shelf/
/videoplayerlib/build
/xpopuplibrary/build
/picture_library/build
/zxing-lite/build
mapping.txt
